.photo {
  width: 400px;
  border-radius: 50%;
  float: left;
}
p.description {
  /* font-family: "Raleway", sans-serif; */
  font-size: 18px;
  line-height: 32px;
  padding-top: 30px;
}
.grid_layout {
  display: grid;
  grid-template-columns: 150px 300px;
  grid-template-rows: 50px 50px 50px;
  gap: 2px;
}
.grid {
  padding: 5px;
  border-style: solid;
  border-color: #aaaaaa;
  font-size: 18px;
  font-weight: bold;
}
.link:hover {
  text-decoration: underline;
}

.project-title {
  font-family: "Poppins", sans-serif;
  font-size: 60px;
  font-weight: 500;
  text-align: center;
  padding-bottom: 10px;
  color: black;
}
.project-image-div {
  display: flex;
  justify-content: center;
}
.project-image {
  width: 200px;
  border-radius: 10%;
}
div.des {
  padding: 20px 80px 20px 100px;
  font-size: 20px;
  line-height: 32px;
}
div.des span{
  color: #ef6603;
  font-size: 20px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  margin-bottom: 10px;

}
div.des h3{
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  font-weight: 600;
  line-height: 32px;
}
h3 {
  padding: 10px 0px 10px 0px;
  font-family: "Poppins", sans-serif;
 
}
.repo {
  padding-bottom: 0;
  margin-bottom: 0;
}
.eye-icon {
  width: 25px;
}

.about .content .strength-list {
  list-style-type: square; /* Square bullets */
  list-style-position: outside; /* Bullets outside the list items */
  margin-left: 30px; /* Indentation */
  /* font-family: "Raleway", sans-serif; */
  font-size: 18px;
}
.about .content .strength-list li {
  padding: 0;
}
strong.strength{  
    text-transform: uppercase;
    font-family: "Poppins", sans-serif;  
    font-size: 22px;
   
}





